<div id="soilDetailsIndex">
<h2>Soil Details</h2>
<%= link_to "<button>Add Soil Details</button>".html_safe, new_soil_path %>
</br></br>
<table class="tableDetails">
	<thead>
		<tr>
			<th>Type of Soil</th>
			<th>Soil Texture</th>
			<th>Water Availability</th>
			<th>Soil ph</th>
			<th>Soil Biota</th>
			<th>Season</th>
			<th>Year of Details</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% for soil in @soil_list %>
	<tbody>
		<tr>
			<td class="field"><%= soil.soil_type %></td>
			<td class="field"><%= soil.soil_texture %></td>
			<td class="field"><%= soil.water_availability %></td>
			<td class="field"><%= soil.soil_ph %></td>
			<td class="field"><%= soil.soil_biota %></td>
			<td class="field"><%= soil.season %></td>
			<td class="field"><%= soil.year_of_details %></td>
			<td><%= link_to "<button>Edit</button>".html_safe, edit_soil_path(soil) %></td>
			<td><%= link_to "<button>Delete</button>".html_safe, soil, method: "delete", data:{confirm:'Are you sure?'} %></td>
		</tr>
	</tbody>
<% end %>
</table>
	<%= link_to "<button>Back</button>".html_safe, home_soils_path%> 
</div>