<div id="soilDetailsIndex">
	<h2 class="sideHeading">Soil Details</h2>
	<%= form_tag soils_path, method: 'get' do %>
		<% @farm= current_user.farm_details %>
		<%= select_tag :search, options_for_select(@farm.collect{ |u| [u.farm_name, u.id] },selected: params[:search]), prompt: 'Please select' %><br/>
		<%= submit_tag "Submit", name: nil ,class: 'submit_button' %>
	<% end %>

	<% if !params[:search].blank?  %>
		<%= link_to "<button>Add Soil Details</button>".html_safe, new_soil_path %>
	</br></br>

	<% if !@soil_list.blank? %>
	<div>
	<%= form_tag(edit_selected_soils_path, method:'get') do %>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Type of Soil</th>
					<th>Soil Texture</th>
					<th>Water Availability</th>
					<th>Soil ph</th>
					<th>Soil Biota</th>
					<th>Season</th>
					<th>Year of Details</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<% for soil in @soil_list %>
				<tbody>
					<tr>
						<td><%= radio_button_tag :soil_id, soil.id %></td>
						<td><%= soil.soil_type %></td>
						<td><%= soil.soil_texture %></td>
						<td><%= soil.water_availability %></td>
						<td><%= soil.soil_ph %></td>
						<td><%= soil.soil_biota %></td>
						<td><%= soil.season %></td>
						<td><%= soil.year_of_details %></td>
					</tr>
				</tbody>
			<% end %>
		</table>
		<div class="editDel_buttons">
			<ul>
				<li><%= submit_tag "Edit", name: nil %></li>
				<li><%= submit_tag "Delete", data: { confirm: "Are you sure?", title: "Delete Soil" } %></li>
			</ul>
		</div>
	<% end %>
	</div>
	<% end %>
	<% end %>
</div>