<div id="login">
 <div class="login-wrap">
  <h2 class="sideHeading">Login</h2>
  <div class="form">
  <%=  form_for(:sessions, url: sessions_path) do |login|%>
    <%= login.text_field :email, :placeholder => "email"%>
    <%= login.password_field :password, :placeholder => "password" %>
    <%= login.submit "Sign In", id:"login_button"%>
    <%= link_to "<p> Don't have an account? Register </p>".html_safe, signup_path %>
    <% end%>
  </div>
</div>
</div>

