<%= render 'shared/error_messages', :object => f.object %>
<table class="tableDetails">
<tr>
   <td class="field">
      <div><%= f.label :first_name %></div>
      <div><%= f.text_field :first_name, style: "width:40%;" %></div>
   </td>
   <td class="field">
      <div><%= f.label :last_name %></div>
      <div><%= f.text_field :last_name, style: "width:40%;" %></div>
   </td>
</tr>
<tr>
   <td class="field">
      <div><%= f.label :phone_no %></div>
      <div><%= f.text_field :phone_no, style: "width:40%;"  %></div>
   </td>
</tr>
<tr>
   <td class="field">
      <div><%= f.label :address %></div>
      <div><%= f.text_field :address, style: "width:60%;"%></div>
   </td>
   <td class="field">
      <div><%= f.label :city %></div>
      <div><%= f.text_field :city, style: "width:40%;" %></div>
   </td>
</tr>

<tr>
   <td class="field">
      <div><%= f.label :state %></div>
      <div><%= f.text_field :state, style: "width:40%;" %></div>
   </td>
   <td class="field">
      <div><%= f.label :country %></div>
      <div><%= f.text_field :country, style: "width:40%;" %></div>
   </td>
</tr>
</table>


