<%= render "shared/error_messages", object: f.object %>
<table class="tableDetails">
	<tr>
		<td class="field">
		<div><%= f.label :farm_area, "Area" %></div>
		<div><%=f.text_field :farm_area%></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_description, "Description" %></div>
			<div><%= f.text_area :farm_description, class: "message_area" %></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_address, "Address" %></div>
			<div><%= f.text_field :farm_address, style: "width:80%;"%></div>
		</td>
		<td class="field">
			<div><%= f.label :farm_city, "City" %></div>
			<div><%= f.text_field :farm_city %></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_state, "State" %></div>
			<div><%= f.text_field :farm_state %></div>
		</td>
		<td class="field">
			<div><%= f.label :farm_country, "Country" %></div>
			<div><%= f.text_field :farm_country%></div>
		</td>
	</tr>
</table>
