<%= render "shared/error_messages", object: f.object %>
<table class="tableDetails">
	<tr>
		<td class="field">
			<div><%= f.label :farm_name, "Name the Farm" %></div>
			<div><%= f.text_field :farm_name %></div>
		</td>
		<td class="field">
			<div><%= f.label :farm_area, "Area" %></div>
			<div><%=f.number_field :farm_area, step: 0.1%></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :soil_type, "Type of Soil" %></div>
			<div><%=f.select :soil_type, options_for_select(@soil_type_con.collect{ |u| [u.lookup_value, u.lookup_value] }, selected: f.object.soil_type), prompt: '--Select--' %></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_description, "Description" %></div>
			<div><%= f.text_area :farm_description, class: "message_area" %></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_address, "Address" %></div>
			<div><%= f.text_field :farm_address, style: "width:80%;"%></div>
		</td>
		<td class="field">
			<div><%= f.label :farm_city, "City" %></div>
			<div><%= f.text_field :farm_city %></div>
		</td>
	</tr>
	<tr>
		<td class="field">
			<div><%= f.label :farm_state, "State" %></div>
			<div><%= f.text_field :farm_state %></div>
		</td>
	</tr>
</table>
