<div id="editFarm">
<h2>Edit Farm Details</h2>
<%= form_for(@farm_details, :url => update_selected_farm_details_path, :html => { :method => :put }) do |fields| %>
<%= hidden_field_tag "farm_id", @farm_details.id %>
<%= render "newFarmFields", f:fields%>
<div class="button_align">
		<ul>
			<li><%= fields.submit "Submit", class: 'submit_button' %></li>
			<li><%= link_to "Cancel", farm_details_path, class: 'submit_button' %></li>
		</ul>
	</div>
<% end%>
</div>