<div id="farmDetailsHome">
<h2>Farm Details</h2>
<%= link_to "<button>Add Farm Details</button>".html_safe, new_farm_detail_path %>
</br></br>
<% if !@farm_details.blank? %>
	<div>
	<%= form_tag(edit_selected_farm_details_path, method:'post') do %>
		<table>
		  <thead>
		    <tr>
		    	<th></th>
		    	<th>Name</th>
		      <th>Area</th>
		      <th>Soil</th>
		      <th>Description</th>
		      <th>Address</th>
		      <th>City</th>
		      <th>State</th>
		    </tr>
		  </thead>
		<tbody>
		    <% for farm in @farm_details %>
		    <tr>
		      <td><%= radio_button_tag "farm_id", farm.id %></td>
		      <td><%= farm.farm_name %></td>
		      <td><%= farm.farm_area %></td>
		      <td><%= farm.soil_type %></td>
		      <td><%= farm.farm_description %></td>
		      <td><%= farm.farm_address %></td>
		      <td><%= farm.farm_city%></td>
		      <td><%= farm.farm_state %></td>
			</tr>
		    <% end %>
		  </tbody>
		</table>
		<div>
			<ul>
				<li><%= submit_tag "Edit" %></li>
				<li><%= submit_tag "Delete", data: { confirm: "Are you sure?", title: "Delete Farm" } %></li>
			</ul>
		</div>
	<% end %>
	</div>
	<% end %>	
</div>
