<div id="farm_report">
	<h2 class="sideHeading">Farm Report</h2>
	<%= form_tag farm_reports_path, method:'get' do %>
	<div class="searchField">
			<label>From</label>
			<%= date_field_tag :from_date%>&nbsp&nbsp
			<label>To</label>
			<%= date_field_tag :to_date %><br/><br/>
			<%= submit_tag "Download", name: nil ,class: 'submit_button' %>&nbsp&nbsp
			<%= link_to "Back", reports_path, class: 'submit_button' %>
		</div>
	<% end %>
</div>