<div id="navigation">
  <div id='cssmenu'>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in?%>
        <li class='has-sub'><a><span>My Farm</span></a>
            <ul>
              <li><%= link_to "Farm Details", farm_details_path %></li>
              <li><%= link_to "Soil Details", soils_path%></li>
              <li class="last"><%= link_to "Crop Details", crops_path %></li>
            </ul>
        </li>
      <% end%>
    </ul>
  </div>
  <div id="sub-nav">
    <nav>
      <ul>
        <% if signed_in?%>
    	    <li><%= link_to "Profile", user_path(current_user)%></li>
        <% end %>
        <% if signed_in?%>
          <li class='last'><%= link_to "Sign Out", signout_path %></li>
        <% else%>
          <li class='last'><%= link_to "Sign In", signin_path %></li>
        <% end%>
      </ul>
    </nav>
  </div>
      
</div>
